body {
    display: flex;
    flex-direction: column;
    margin: 0;
}

* {
    font-family: "Roboto";
}

.hero {
    background-color: #1f2937;
    display: flex;
    padding: 75px;
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: #1f2937;
    padding: 100px;
    padding-top: 10px;
    padding-bottom: 10px;
}

ul {
    display: flex;
    flex-wrap: nowrap;
    margin: 0;
    padding: 0;
    justify-content: space-between;
    gap: 20px;
}

.header-logo {
    font: 24px;
    font-weight: bold;
    color: #f9faf8;

}

.secondary-text {
    font: 18px;
    display: flex;
    color: #e5e7eb;

}

.main-text {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}

.hero-image {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-basis: 500px;
    background-color: gray;
    color: white;
    flex-shrink: 0;
}

.hero-text {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.hero-container {
    display: flex;
    flex-direction: row;
    gap: 50px;
}

.sign-up {
    background-color: #3882f6;
    border-radius: 5px;
    width: 100px;
    height: 25px;
    border: none;
    color: white;
    font-weight: bold;
}

.information {
    text-align: center;

}

.info-header {
    font: 36px;
    font-weight: bolder;
    color: #1f2937;

}

.info-box {
    border: solid #3882f6;
    border-radius: 10px;
    width: 150px;
    height: 150px;
}

.info {
    flex-basis: 150px;
}

.info-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding: 15px;
}

.quote-container {
    display: flex;
    background-color: #e5e7eb;
    padding: 25px;
    flex-direction: column;
    flex-wrap: wrap;
}

.quote {
    font-size: 36px;
    font-weight: 300;
    color: #1f2937;
    max-width: 800px;
    align-self: center
}

.name {
    align-self: flex-end;
    font-weight: bold;
}

.call-to-action {
    display: flex;
    align-items: center;
    justify-content: center;
}

.call-to-action-container {
    background-color: #3882f6;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 30px;
    margin: 45px;
    align-items: center;
    width: 700px;
    border-radius: 10px;
}

.sign-up.bottom {
    border: solid white;
    margin-right: 100px;
}

.footer {
    display: flex;
    justify-content: center;
    background-color: #1f2937;
    color: white;
    padding: 20px;
}